.gallery {
  display: grid;
  max-width: 100%;
  grid-template-columns: auto auto auto auto;
  grid-auto-flow: dense;
  grid-gap: 15px;
  padding: 0;
}
.galleryItem {
  position: relative;
  display: flex;
  flex-direction: column;
  list-style: none;
  cursor: pointer;
}
.galleryItem:nth-child(1n) {
  grid-column-start: span 2;
  grid-row-start: span 2;
}
.galleryItem:nth-child(2n) {
  grid-column: span 1;
  grid-row-start: span 2;
}
.galleryItem:nth-child(3n) {
  grid-column: span 2;
  grid-row: span 1;
}
.galleryItem:nth-child(4n) {
  grid-column: span 1;
  grid-row: span 1;
}
